%background__subzero {
    @include linear-gradient( $color__secondary-4, $color__secondary-2 );
}

%background__nightwolf {
    @include linear-gradient( $color__secondary-3, $color__secondary-6 );
}

%background__gray-light {
    background-color: $color__gray-light;
}

%background__primary-2 {
    background-color: $color__primary-2;
}

%background__primary-3 {
    background-color: $color__primary-3;
}
