ul, ol, menu {
    list-style-type: none;
    margin-left: $spacer__0;
    padding-left: 2rem;

    > li, > menuitem {
        position: relative;

        &::before {
            position: absolute;
            right: 100%;
            padding-right: $spacer__2;
        }
    }
}

ul {
    > li {
        &::before {
            content: '\025B8';
        }
    }
}

ol {
    counter-reset: li;

    > li {
        &::before {
            content: counter(li) ')';
            counter-increment: li;
        }
    }
}

menu {
    > menuitem, > li {
        &::before {
            content: '\000BB';
        }
    }
}
