// Color Palette
$color__primary-1: #0ECAD4 !default;
$color__primary-2: #121B24 !default;
$color__primary-3: #FF6C29 !default;
$color__secondary-1: #50E3C2 !default;
$color__secondary-2: #21CED7 !default;
$color__secondary-3: #2CCDEC !default;
$color__secondary-4: #389FF0 !default;
$color__secondary-5: #007EEA !default;
$color__secondary-6: #5D67F0 !default;

$color__white: #FFFFFF !default;
$color__black: #000000 !default;
$color__gray-light: #F1F1F1 !default;
$color__gray-med: darken( $color__gray-light, 30% ) !default;
$color__gray-dark: darken( $color__gray-med, 30% ) !default;

$color__transparent: transparent !default;

$colors__primary: (
    $color__primary-1,
    $color__primary-2,
    $color__primary-3
    );

$colors__secondary: (
    $color__secondary-1,
    $color__secondary-2,
    $color__secondary-3,
    $color__secondary-4,
    $color__secondary-5,
    $color__secondary-6
    );

$colors__grayscale: (
    $color__white,
    $color__gray-light,
    $color__gray-med,
    $color__gray-dark,
    $color__black
    );

// Font settings
$font__family: "Open Sans", Arial, sans-serif !default;
$font__family-code: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

$font__size-body:  16px !default;

$font__size:       1rem !default;
$font__size-large: $font__size * 1.5;
$font__size-h1:    4.5rem !default;
$font__size-h2:    2.75rem !default;
$font__size-h3:    1.5rem !default;
$font__size-h4:    1.3125rem !default;
$font__size-h5:    $font__size !default;
$font__size-h6:    $font__size !default;

$font__weight:            400 !default;
$font__weight-light:      100 !default;
$font__weight-bold:       600 !default;
$font__weight-extra-bold: 700 !default;
$font__weight-heading:    $font__weight-extra-bold !default;

$font__line-height:    1.375 !default;
$font__line-height-h1: 1.111 !default;
$font__line-height-h2: 1.363 !default;
$font__line-height-h3: $font__line-height !default;
$font__line-height-h4: $font__line-height !default;
$font__line-height-h5: $font__line-height !default;
$font__line-height-h6: $font__line-height !default;

$font__color: $color__primary-2;
$font__color-link: $color__primary-1;

// Spacers
$spacer: 20px !default;
$spacer__0: 0;
$spacer__1: $spacer * 0.25;
$spacer__2: $spacer * 0.5;
$spacer__3: $spacer;
$spacer__4: $spacer * 2;
$spacer__5: $spacer * 3;
$spacer__border: 2px;

// Container breakpoints
$breakpoint__sm: 540px !default;
$breakpoint__md: 720px !default;
$breakpoint__lg: 960px !default;
$breakpoint__xl: 1140px !default;
