/**
 * Styles for the content band container and all of the partials that can go in the content band
 */

.content-band {
	@extend %page-width;
	@extend %layout-container-padding;

	> .wrap {
		@extend %clearfix;
		padding: $gutter 0;
	}

	&.layout-content-sidebar {
		.content-band-header, .content-band-html, .content-band-pieces {
			float: left;
		}

		.sidebar {
			float: right;
		}

		@media( min-width: $sm ) {
			.content-band-header, .content-band-html, .content-band-pieces {
				width: 60%;
			}

			.sidebar {
				width: 40%;
			}
		}
	}
}

.content-band-header {
	.band-copy {
		> *:last-child {
			margin-bottom: 0;
		}
	}

	+ .content-band-pieces, + .content-band-html {
		margin-top: $gutter;
	}

	@media (min-width: $md) {
		padding-left: $gutter;
		padding-right: $gutter;
	}
}

.content-band-html {
	@extend %layout-container-padding;

	> :last-child {
		margin-bottom: 0;
	}
}

.content-band-row {
	&.freeform {
		@extend %layout-container-padding;
		padding-top: $gutter;
		padding-bottom: $gutter;
	}
}

.band-title, .band-copy {
	max-width: 550px;
}

.band-title,
h2.band-title {
	@extend %section-title;
	margin-top: 0;
}
