.plan-tile {
	@include flex( row, wrap );
	margin-bottom: $gutter-tiny;
}

.plan-block {
	@include flex( column, nowrap );
	flex: 1 1 315px;
	padding: $gutter-small;
	justify-content: center;

	&.title {
		@include corners( false, true, false );
		flex: 0 1 100%;
		background-color: $color-grayscale-1;
		justify-content: flex-start;
	}

	&.details {
		background-color: $color-grayscale-3;
		text-transform: uppercase;
		flex-basis: 340px;

		p {
			margin-bottom: $gutter-tiny;
		}
	}

	&.action {
		@include corners( false, false );
		background-color: $color-gable;
		color: $color-white;
		text-align: center;

		&.enterprise {
			background-color: $color-pelorous;
		}
	}

	*:last-child {
		margin-bottom: 0;
	}

	h3 {
		margin-bottom: 0;
	}

	svg {
		height: 1.4em;
		width: 30px;
		margin-right: $gutter-tiny;
		vertical-align: middle;
	}

	.installs {
		svg {
			height: 1em;
		}
	}

	.value {
		color: $color-pelorous;
		font-weight: 600;
	}

	.info-below {
		font-size: 1.2rem;
		text-transform: uppercase;
	}

	.phone {
		font-size: 2.4rem;

		a {
			color: $color-white;
		}
	}

	.price {
		font-size: 4.6rem;
		margin-bottom: 0;
		line-height: 1;
	}
}

@media (min-width: $md) {
	.plan-tile {
		flex-wrap: nowrap;
	}

	.plan-block {
		padding: $gutter;
		flex-grow: 0;

		&.title {
			@include corners( false, false, false, false );
			flex-basis: 475px;
		}

		&.action {
			@include corners();
		}
	}
}
