<ul>
  <li>This is a list item</li>
  <li>So is this - there could be more</li>
  <li>Make sure to style list items to:
    <ul>
      <li>Not forgetting child list items</li>
      <li>Not forgetting child list items</li>
      <li>Not forgetting child list items</li>
      <li>Not forgetting child list items</li>
    </ul></li>
  <li>A couple more</li>
  <li>top level list items</li>
</ul>

<ol>
  <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
  <li>Aliquam tincidunt mauris eu risus.
    <ol>
      <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
      <li>Aliquam tincidunt mauris eu risus.</li>
    </ol>
  </li>
  <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
  <li>Aliquam tincidunt mauris eu risus.</li>
</ol>