body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  color: #121B24; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

h1 {
  font-size: 4.5rem;
  line-height: 1.111; }

h2 {
  font-size: 2.75rem;
  line-height: 1.363; }

h3 {
  font-size: 1.5rem;
  line-height: 1.375; }

h4 {
  font-size: 1.3125rem;
  line-height: 1.375; }

h5 {
  font-size: 1rem;
  line-height: 1.375; }

h6 {
  font-size: 1rem;
  line-height: 1.375; }

a {
  color: #0ECAD4; }

pre,
code {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; }

button, .button {
  padding: 20px 40px;
  border-width: 2px;
  font-weight: 600;
  line-height: 1; }

.button--primary-light {
  background-color: #0ECAD4;
  border-color: #0ECAD4;
  color: #121B24; }
  .button--primary-light:hover, .button--primary-light:focus, .active.button--primary-light {
    background-color: transparent; }

.button--primary-dark {
  background-color: #0ECAD4;
  border-color: #0ECAD4;
  color: #FFFFFF; }
  .button--primary-dark:hover, .button--primary-dark:focus, .active.button--primary-dark {
    background-color: transparent; }

.button--secondary-light {
  background-color: transparent;
  border-color: #121B24;
  color: #121B24; }
  .button--secondary-light:hover, .button--secondary-light:focus, .active.button--secondary-light {
    background-color: #121B24;
    color: #FFFFFF; }

.button--secondary-dark {
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF; }
  .button--secondary-dark:hover, .button--secondary-dark:focus, .active.button--secondary-dark {
    background-color: #FFFFFF;
    color: #121B24; }

.button--cta-light {
  background-color: #FF6C29;
  border-color: #FF6C29;
  color: #121B24; }
  .button--cta-light:hover, .button--cta-light:focus, .active.button--cta-light {
    background-color: transparent; }

.button--cta-dark {
  background-color: #FF6C29;
  border-color: #FF6C29;
  color: #FFFFFF; }
  .button--cta-dark:hover, .button--cta-dark:focus, .active.button--cta-dark {
    background-color: transparent; }

ul, ol, menu {
  list-style-type: none;
  margin-left: 0;
  padding-left: 2rem; }
  ul > li, ul > menuitem, ol > li, ol > menuitem, menu > li, menu > menuitem {
    position: relative; }
    ul > li::before, ul > menuitem::before, ol > li::before, ol > menuitem::before, menu > li::before, menu > menuitem::before {
      position: absolute;
      right: 100%;
      padding-right: 10px; }

ul > li::before {
  content: '\025B8'; }

ol {
  counter-reset: li; }
  ol > li::before {
    content: counter(li) ")";
    counter-increment: li; }

menu > menuitem::before, menu > li::before {
  content: '\000BB'; }
