%link--underline {
	text-decoration: underline;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

%link--no-underline {
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}
