<div class="hero-block image-text">
  <div class="hero-image">
  	<img src="https://wpengine.com/wp-content/themes/wpengine/images/hero/home.jpg" alt="">
  </div>
  
  <div class="hero-text">
	<h1 class="entry-title ">Drive your business Forward Faster with Managed WordPress Hosting</h1>
	<p>Build faster, protect your brand and grow your business with a WordPress platform built to power remarkable online experiences.</p>
	<a href="#" class="button">See our plans</a>
  </div>
</div>