<div class="hero-block image-text">
  <div class="hero-image">
  	<img src="{{ hero__image }}" alt="{{ hero_imagealt }}">
  </div>
  <div class="hero-text">
	<h1 class="entry-title">{{ hero__heading }}</h1>
	{{render '@button-anchor'}}
  </div>
</div>