.immybox.immybox_witharrow, .immybox.immybox_witharrow:focus {
    background-image: url(#{$imagepath}/icons/down-arrow.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1em;
    border: none;
    border-bottom: 2px solid $text-color;
    box-shadow: none;
}

.immybox_results {
    position: absolute;
    overflow: auto;
    max-height: 20em;
    background-color: $color-white;
    border: 1px solid $text-color;
    z-index: 9001;

    p {
        &.immybox_moreinfo, &.immybox_noresults {
            color: $text-color;
            font-style: italic;
            padding: 0 1em;
            margin: 0;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            padding: .25em 1em;
            -o-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none;

            display: inline-block;
            width: 50%;
            box-sizing: border-box;
            margin-bottom: $gutter-small;
            height: 60px;

            &.immybox_choice {
                cursor: pointer;

                &.active {
                    background-color: RGBA(214, 193, 136, 0.5);
                }

                .highlight {
                    text-decoration: underline;
                }
            }
        }
    }
}
