// Define our core button styles
button,
.button,
[type="submit"],
[type="button"] {
  @extend %button;
}

$buttons: (
  'sunset-mirage' : $color--white  $color--white  $color--sunset  $color--mirage $color--sunset  $color--mirage,
  'sunset-white'  : $color--white  $color--mirage $color--sunset  $color--white  $color--sunset  $color--white,
  'tiffany-mirage': $color--white  $color--white  $color--tiffany $color--mirage $color--tiffany $color--mirage,
  'tiffany-white' : $color--white  $color--mirage $color--tiffany $color--white  $color--tiffany $color--white,
  'mirage-white'  : $color--white  $color--mirage $color--mirage  $color--white  $color--mirage  $color--white,
  'hollow-mirage' : $color--mirage $color--white  $color--none    $color--mirage $color--mirage  $color--mirage,
  'hollow-white'  : $color--white  $color--mirage $color--none    $color--white  $color--white   $color--white,
  );

@each $label, $colors in $buttons {
  .button--#{$label} {
    @include button( $colors... );
  }
}

// Define our button group styles
.button-group {
	> %button {
		min-width: 200px;

    @media (max-width: $breakpoint--md - 1) {
      width: 100%;

      &:nth-child(2) {
        margin-top: $spacer--2;
      }
    }

    @media (min-width: $breakpoint--md) {
      width: auto;

      &:nth-child(2) {
        margin-left: $spacer--2;
      }
    }
	}
}
