legend,
label {
  display: block;
  font-weight: $font--weight-extra-bold;
  font-size: $font--size-bump;

  span.required {
    color: $color--cherry;
  }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  width: 100%;
  color: $color--mirage;
  border: 1px solid $color--polar-10;
  font-size: $font--size;
  padding: $font--size;
  border-radius: 0;

  // Opacity setting is necessary for some browsers
  &::placeholder {
    color: $color--ash;
    opacity: 1;
  }

  // Font-style can't be styled on the placeholder itself,
  // so target the field showing the placeholder instead
  &:placeholder-shown {
    font-style: italic;
  }
}

select:not([multiple]) {
  width: 100%;
  padding: $font--size;
  border: 1px solid $color--polar-10;
  -webkit-appearance: none;
  border-radius: 0;
  background: $color--white;
  background-image: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%207.5%204.8%22%20enable-background%3D%22new%200%200%207.5%204.8%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cpolygon%20fill%3D%22%236B757B%22%20points%3D%223.8%2C4.8%200%2C1.1%201.1%2C0%203.8%2C2.7%206.5%2C0%207.6%2C1.1%20%09%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A);
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) 50%;
  background-size: 16px;
}

select[multiple] {
  border: 1px solid $color--polar-10;

  option {
    line-height: 1.2;
    padding: $spacer--1;

    &:nth-child(odd) {
      background: $color--polar;
    }
  }

  // These look real hacky, but necessary to override default
  // browser styles on multi select options. Some browsers will
  // support styling a background image but not a background color.
  option:checked {
    background: linear-gradient(to bottom, lighten($color--tiffany, 40%) 0%, lighten($color--tiffany, 40%) 100%);
  }

  &:focus option:checked {
    background: linear-gradient(to bottom, $color--tiffany 0%, $color--tiffany 100%);
    color: $color--white;
  }
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


// Style our checkboxes and radio buttons
input[type="checkbox"],
input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  position: relative;
  display: inline-block;
  padding-left: calc(24px + #{2 * $spacer--1});
  font-weight: $font--weight;
  font-size: $font--size-bump;

  &:before {
    display: inline-block;
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    border: 1px solid $color--polar-10;
    left: $spacer--1;
    top: 50%;
    transform: translateY(-50%);
  }

  &:after {
    display: inline-block;
    position: absolute;
    content: none;
    height: 12px;
    width: 12px;
    top: 50%;
    transform: translateY(-50%);
    left: calc(#{$spacer--1} + 6px);
    background-color: $color--tiffany;
    @extend %background--tiffoam;
  }
}

input[type="radio"] + label {
  &:before {
    border-radius: 100%;
  }

  &:after {
    border-radius: 100%;
  }
}

input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  content: "";
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
    outline: $color--polar-40 auto 3px;
}
