ul {
  list-style-type: none;
  margin-left: $spacer--0;
  margin-bottom: $spacer--2;
  padding-left: 1rem;
  font-size: $font--size-body;
  line-height: $font--line-height-list;

  > li {
    position: relative;
    margin-bottom: 0;

    &::before {
      position: absolute;
      display: block;
      top: 0em;
      left: -1em;
      content: '';
      margin-right: $spacer--1;
    }
  }
}

ul {
  > li {
    &::before {
      width: 6px;
      height: 6px;
      top: 0.75em;
      transform: translateY(-50%);
      background: currentColor;
      opacity: 0.3;
    }
  }
}

ol {
  padding-left: $spacer--2;
}
