ul, ol {
    list-style-type: none;
    margin-left: $spacer--0;
    padding-left: 1rem;

    > li {
        position: relative;
        margin-bottom: $spacer--1;

        &::before {
            position: absolute;
            display: block;
            top: 0em;
            left: -1em;
            content: 'x';
            padding-right: $spacer--1;
        }
    }
}

ul {
    > li {
        &::before {
            content: '\25B8';
        }
    }
}

ol {
    counter-reset: li;

    > li {
        &::before {
            content: counter(li) ')';
            counter-increment: li;
        }
    }
}
