body {
  @include paragraph-base-style;
  color: $font--color;
  font-family: $font--family;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font--family-heading;
  font-weight: $font--weight-heading;
  margin: $spacer--4 0 $spacer--2;

  @media screen and (min-width: $breakpoint--md) {
    margin: #{$spacer * 1.5} 0 $spacer--3;
  }

  @media screen and (min-width: $breakpoint--lg) {
    margin: $spacer--5 0 $spacer--4;
  }

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: $font--size-h3;
  line-height: $font--line-height-h3;

  @media screen and (min-width: $breakpoint--md) {
    font-size: $font--size-h2;
    line-height: $font--line-height-h2;
  }

  @media screen and (min-width: $breakpoint--lg) {
    font-size: $font--size-h1;
    line-height: $font--line-height-h1;
  }
}

h2 {
  font-size: $font--size-h4;
  line-height: $font--line-height-h4;

  @media screen and (min-width: $breakpoint--md) {
    font-size: $font--size-h3;
    line-height: $font--line-height-h3;
  }

  @media screen and (min-width: $breakpoint--lg) {
    font-size: $font--size-h2;
    line-height: $font--line-height-h2;
  }
}

h3 {
  font-size: $font--size-h5;
  line-height: $font--line-height-h5;

  @media screen and (min-width: $breakpoint--md) {
    font-size: $font--size-h4;
    line-height: $font--line-height-h4;
  }

  @media screen and (min-width: $breakpoint--lg) {
    font-size: $font--size-h3;
    line-height: $font--line-height-h3;
  }
}

h4 {
  font-size: $font--size-h6;
  line-height: $font--line-height-h6;

  @media screen and (min-width: $breakpoint--md) {
    font-size: $font--size-h5;
    line-height: $font--line-height-h5;
  }

  @media screen and (min-width: $breakpoint--lg) {
    font-size: $font--size-h4;
    line-height: $font--line-height-h4;
  }
}

h5 {
  font-size: $font--size-h6;
  line-height: $font--line-height-h6;

  @media screen and (min-width: $breakpoint--lg) {
    font-size: $font--size-h5;
    line-height: $font--line-height-h5;
  }
}

h6 {
  font-size: $font--size-h6;
  line-height: $font--line-height-h6;
}

// Paragraphs
p {
  @include paragraph-base-style;
}

// Paragraph elements
a {
  color: $font--color-link;
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    color: darken($font--color-link, 10%);
    text-decoration: none;
  }
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  margin-bottom: $spacer--2;
  padding: $spacer--1;
  background: $color--polar;
  font-size: $font--size-small;
  max-width: 100%;
  overflow: auto;
}

code,
kbd,
tt,
var {
  font-family: $font--family-code;
  font-size: $font--size-small;
  background: $color--polar;
}

abbr,
acronym {
  border-bottom: 1px dotted $color--ash;
  cursor: help;
}

mark,
ins {
  background: $color--polar;
  text-decoration: none;
}

big {
  font-size: 125%;
}

b,
strong {
  font-weight: $font--weight-bold;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 $spacer--2 $spacer--2;
}
