// Color Palette
$color--tiffany:    #0ECAD4 !default;
$color--mirage:     #121B24 !default;
$color--sunset:     #FF6C29 !default;
$color--seafoam:    #50E3C2 !default;
$color--bermuda:    #21CED7 !default;
$color--teal:       #2CCDEC !default;
$color--lapis:      #389FF0 !default;
$color--azure:      #007EEA !default;
$color--royal:      #5D67F0 !default;
$color--winter:     #F1F1F1 !default;

$color--white:      #FFFFFF !default;
$color--black:      #000000 !default;
$color--gray-light: $color--winter;
$color--gray-med:   darken( $color--gray-light, 50% ) !default;
$color--gray-dark:  darken( $color--gray-med, 50% ) !default;

$color--none: transparent !default;

$colors--primary:
  $color--tiffany
  $color--mirage
  $color--sunset;

$colors--secondary:
  $color--seafoam
  $color--bermuda
  $color--teal
  $color--lapis
  $color--azure
  $color--royal
  $color--winter;

$colors--grayscale:
  $color--white
  $color--gray-light
  $color--gray-med
  $color--gray-dark
  $color--black;

// Font settings
$font--family: 'Open Sans', Arial, sans-serif;
$font--family-heading: $font--family;
$font--family-code: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

$font--size-body:  16px !default;

$font--size:       1rem !default;
$font--size-bump:  1.125rem !default;
$font--size-large: 1.5rem !default;
$font--size-h1:    4.5rem !default;
$font--size-h2:    2.75rem !default;
$font--size-h3:    1.5rem !default;
$font--size-h4:    1.3125rem !default;
$font--size-h5:    $font--size !default;
$font--size-h6:    $font--size !default;

$font--weight:     300 !default;
$font--weight-light:      100 !default;
$font--weight-bold:       400 !default;
$font--weight-extra-bold: 700 !default;
$font--weight-heading:    $font--weight-extra-bold !default;

$font--line-height:    1.375 !default;
$font--line-height-h1: 1.111 !default;
$font--line-height-h2: 1.363 !default;
$font--line-height-h3: $font--line-height !default;
$font--line-height-h4: $font--line-height !default;
$font--line-height-h5: $font--line-height !default;
$font--line-height-h6: $font--line-height !default;

$font--color: $color--mirage;
$font--color-link: $color--tiffany;

// Spacers
$spacer: 20px !default;
$spacer--0: 0;
$spacer--1: $spacer * 0.25;
$spacer--2: $spacer * 0.5;
$spacer--3: $spacer;
$spacer--4: $spacer * 2;
$spacer--5: $spacer * 3;

$spacer--border: 2px;

// Container breakpoints
$breakpoint--sm: 540px !default;
$breakpoint--md: 720px !default;
$breakpoint--lg: 960px !default;
$breakpoint--xl: 1140px !default;
