<div class="button-group">
  <a class="button button--sunset-mirage" href="#">Primary Button</a>
  <a class="button button--hollow-mirage" href="#">Button 2</a>
  <a class="button button--hollow-mirage" href="#">Button 3</a>
</div>
