<div class="block icon-above text-left   ">
	<div class="wrap">
		<p><strong>We’re looking for the best managed WordPress cloud hosting solution for websites and apps on the market. Why should we consider WP Engine?</strong></p>
		<p>WP Engine is the industry leader in managed WordPress hosting. All we think about is how to run WordPress in the best way possible. Our WordPress hosting platform keeps sites fast, scalable, and secure. Our team has spent years perfecting our WordPress hosting platform. Every feature, from EverCache and staging sites, to GeoIP and one-click SSL, has been built specifically for WordPress users. WP Engine has more than 125 full time WordPress support experts that work in shifts around the clock to help our customers tackle tough WordPress issues. If you hit any snags with your site, our team is here to help you through it, by phone, email or live chat.</p>
	</div>
</div>