<div class="block icon-above text-left background-gable has-background ">
	<div class="wrap">
	
	<h3><span class="stat">5%</span> of the <br>online world</h3>
	<p class="h3">Visits at least one site on WP Engine each day</p>
	
	</div>
</div>