<div class="block icon-above text-left   icon-size-x-small">
	<div class="wrap">
		<div class="icon-container "><svg style="fill:#738084" id="user-support" xmlns="http://www.w3.org/2000/svg" width="57.7" height="57.7" viewBox="0 0 57.7 57.7"><title>user-support</title><path d="M0,0V57.7H57.7V0H0ZM55.8,55.7H1.9V1.9H55.8V55.7h0Z" transform="translate(0 0)"></path><path d="M24.4,46.3H12.6a16,16,0,0,1,4.7-9.6,16.09,16.09,0,0,1,11.5-4.8,16.46,16.46,0,0,1,15.1,10l1.7-.8a17.88,17.88,0,0,0-13-10.8,10.75,10.75,0,1,0-7.7,0A18.08,18.08,0,0,0,10.5,48.2H24.4V46.3h0ZM22.5,26.5a9.27,9.27,0,0,1-2.6-6.3A8.88,8.88,0,1,1,22.5,26.5Z" transform="translate(0 0)"></path><rect x="41.4" y="15.3" width="1.8" height="7.9"></rect><rect x="14.4" y="15.3" width="1.8" height="7.9"></rect></svg></div>
		<h3>Reliable help</h3>
		<p>24/7 technical support from leading WordPress experts.</p>
	</div>
</div>