.bold-statement {
	display: none;

	body.bold-statements & {
		display: block;
	}

	.block.background-gable {
		h3 {
			color: $color-pelorous;
			font-size: 3.6rem;
		}

		.stat {
			display: block;
			font-size: 6rem;
			color: $color-saffron;
			margin-bottom: 10px;
		}
	}

	.content-band-pieces, .content-band-row {
		flex-basis: 100%;
	}
}
