.site-header {

	.title-area {
		@include flex( row, nowrap );
		align-items: center;
		height: 30px;
		margin-bottom: $gutter-small;
	}

	.site-title {
		flex: 1 1 50%;
		height: 100%;
		text-indent: -9999px;
		margin-right: $gutter-small;

		* {
			width: 100%;
			height: 100%;
		}

		a {
			display: block;
			background: url(#{$imagepath}/WPE-logo.svg) no-repeat;
		}
	}

	.sales-number {
		flex: 1 1 50%;
		color: $color-gable;
		font-size: $font-size-smaller;
		margin: 0;

		a {
			display: block;
			color: $brand-primary;
		}
	}

	.autocomplete-container {
		position: absolute;
		top: 100%;
		padding: 0 $gutter 0 #{ $gutter + $gutter };

		a {
			@extend %link-underline;
			color: $color-white;
		}
	}

	.header-content {
		max-width: 400px;
		padding: $gutter-small;
		text-transform: uppercase;
	}

	.menus {
		max-width: 330px;
	}

	.search-form {
		@extend %page-width;
		position: relative;
		display: none;
		margin: 0 auto;
		float: none;
		width: 100%;
		background-color: $color-gable;
		color: $color-grayscale-2;
		font-size: 1.8rem;

		.wrap {
			@extend %page-width;
			@include flex( row, nowrap );
			align-items: center;
			padding: 0 $gutter;

			&:before {
				@extend %fontawesome;
				flex: 0 0 $gutter;
				content: '\f002';
			}
		}

		input {
			flex: 1 1 100%;
			background-color: $color-transparent;
			border: 0;
			color: $color-white;
			clip-path: none;
		}
	}

	@media (min-width: 375px) {
		.sales-number {
			a {
				display: inline;
			}
		}
	}

	@media (min-width: $sm) {
		.header-content {
			@include flex( row, nowrap );
			align-items: flex-start;
			max-width: $page-width;
			margin-left: auto;
			margin-right: auto;
			padding: $gutter;
		}

		.menus {
			max-width: initial;
		}

		.title-area {
			margin-bottom: 0;
			width: 72px;
			height: 97px;
			margin-right: $gutter-small;
		}

		.site-title {
			height: 100%;
			margin-right: 0;

			a {
				background-image: url(#{$imagepath}/WPE-logo-stacked.svg);
				width: 100%;
				height: 100%;
			}
		}

		.sales-number {
			display: none;
		}
	}

	@media (min-width: $md) {
		.header-content {
			padding: $gutter $gutter-large;
		}

		.search-form {
			.wrap {
				padding: 0 #{$gutter-large + 15};
			}

			.autocomplete-container {
				padding: 0 $gutter-large 0 #{ $gutter-large + $gutter + 15 };
			}
		}
	}
}
