// Displays a UL list with bootstrap checkmarks as the bullet
ul.checkmarks {
	li {
		position: relative;
		list-style-type: none;
		margin-left: 0;
		margin-bottom: 10px;
		padding-left: 30px;

		&:before {
			@extend %fontawesome;
			position: absolute;
			left: 0;
			color: $brand-primary;
			content: '\f00c';
		}
	}
}
