body.page-template-template-about {
	.leader {
		@include flex();
		align-items: flex-end;
		border-bottom: 2px solid $color-bluescale-5;
		margin-bottom: $gutter;

		.copy {
			flex: 1 1 400px;
			max-width: 700px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.quote {
		font-size: 1.8rem;
		font-style: italic;
	}

	.name {
		@extend h6;
		margin-bottom: 0;
	}

	.position {
		font: $font-size-smaller/1 $din-regular;
		text-transform: uppercase;
	}

	.headshot {
		float: left;
		height: auto;
		max-width: 166px;
		margin: 0 $gutter-small $gutter-small 0;
	}

	.headshots {
		@include slider( 13s );
		height: 400px;
	}

	.content-band-investors {
		.block {
			p {
				flex-basis: 100%;

				&.name, &.position {
					flex-basis: auto
				}
			}
		}
	}

	@media (min-width: $sm) {
		.headshot {
			margin-bottom: 0;
		}
	}
}
