body.post-type-archive-testimonials {
	.hero-block {
		margin-bottom: $gutter;
	}

	.featured {
		@extend %layout-container-padding;
		@extend .blocks;
	}

	.entry {
		@extend %background-quote;
	}

	.entry-content {
		font-style: italic;

		p {
			line-height: 1.5;
		}

		/**
		 * This is a temporary hack. Needs to be removed after reskin launch
		 * This styles the post content that's in the posts from the old design
		 *
		 * @until MAR-4320
		 */
		br + strong {
			display: block;
			margin-top: $gutter-tiny;
			font-style: normal;
		}
	}

	.entry-footer {
		.author {
			text-transform: uppercase;
			font-weight: bold;
		}

		.role {
			text-transform: uppercase;
			font-size: $font-size-smaller;
		}

		.website {
			@extend %no-link-underline;
			color: $brand-primary;
			font-size: $font-size-smaller;
		}
	}

	@media (min-width: $md) {
		.entry {
			flex-basis: 32%;
		}
	}
}
