body.post-type-archive-agency, body.post-type-archive-consultant {
	.content {
		background-color: $color-grayscale-2;
		padding-top: $gutter;
		padding-bottom: $gutter;
	}

	.entry {
		background-color: $color-white;

		.wrap {
			p {
				min-height: initial;
			}
		}
	}

	@media (min-width: $md) {
		.entry-thumbnail {
			max-width: 288px;
			max-height: 135px;

			img {
				margin-left: 0;
				transform: none;
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
}
