body.page-template-template-newsroom {
	.content-sidebar-wrap {
		@include flex();
	}

	main.content {
		flex: 1 1 915px;
		margin-bottom: $gutter;

		.entry {
			flex: 1 1 100%;
		}
	}

	.sidebar {
		flex: 1 1 260px;
	}

	.content-band {
		flex: 0 0 100%;

		.content {
			margin-top: $gutter;
			padding: 0;
		}
	}

	.content-sidebar-wrap {
		.content-band {
			.content {
				flex-basis: 100%;
				width: 100%;
			}
		}
	}

	.content-band-header {
		> * {
			display: inline-block;
			margin-right: $gutter-small;
			vertical-align: top;
			line-height: 1;
		}

		.button {
			padding: 9px 15px;
			font-size: $font-size-smaller;
		}
	}

	@media (min-width: $sm) {
		main.content {
			.entry {
				&:first-child {
					.entry-thumbnail {
						height: auto;
					}
				}

				&:nth-child(n + 2) {
					width: 45%;
					flex-basis: 45%;
				}
			}
		}
	}
}
