body.single-our-difference {
	.entry {
		margin-top: $gutter;

		h2 {
			@extend %section-title;
			margin-top: $gutter-large;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	.hero-block {
		@extend %page-width;
	}

	blockquote {
		@extend %gray-1-box;
		@extend %background-quote;
		margin: $gutter 0;
		padding: $gutter;
		border: 0;
		font-size: 1.6rem;
	}

	.sidebar {
		display: block;

		.wrap {
			@include corners( false, false, true, true );
			background-color: $color-grayscale-1;
			padding: $gutter $gutter-small;

			> *:last-child {
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $sm) {
		.sidebar {
			.wrap {
				padding: $gutter;
			}
		}
	}

	@media (min-width: $md) {
		.content-sidebar-wrap {
			.content {
				flex-basis: 66%;
			}

			.sidebar {
				flex-basis: 33%;
			}
		}
	}
}
