body.single-agency {
	.content {
		@include flex();
	}

	.entry {
		flex: 1 1 750px;
	}

	.form-container {
		@extend %layout-item-padding;
		flex: 1 1 400px;
	}

	.entry-header {
		@extend %layout-item-padding;
	}

	.entry-featured {
		img {
			width: auto;
		}
	}

	.entry-title {
		margin-bottom: $gutter-small;
	}

	.agency-meta {
		p {
			margin-bottom: 0;
			text-transform: capitalize;
		}

		a {
			color: $brand-primary;
		}
	}

	.entry-content {
		@extend %layout-container-padding-large;
	}

	@media (min-width: $md) {
		.entry-header, .entry-content {
			padding-right: 0;
		}

		.wpe-form {
			padding: 0;
		}
	}
}
