// Applies to all single CPTs
body.single {

	.entry {
		font-size: $font-size;
	}

	.entry-meta {
		clear: both;
	}
}

// Only applies to single posts
body.single-post {

	.entry-header {
		.entry-title {
			margin-bottom: $gutter;
		}
	}

	@media (min-width: $sm) {
		.entry-header {
			.entry-title {
				float: left;
				width: calc(75% - #{$gutter-small});
				margin-right: $gutter-small;
			}
		}

		.share-btns {
			float: left;
			width: 25%;
		}
	}
}
