.cookie-bar {
	display: none;
	background: $color-grayscale-1;
	font-size: $font-size-smaller;

	.wrap {
		@extend %page-width;
		@extend %layout-container-padding-large;
		position: relative;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.close {
		@extend %vertical-align;
		right: $gutter-small;
		cursor: pointer;
	}

	p {
		margin: 0;
		padding-right: $gutter;
	}
}
