$link-size: 35px;
$link-size-sm: 20px;

.site-footer {
	@extend %page-width;
	font-size: $font-size;

	.wrap {
		@extend %layout-container-padding-large;
		padding-top: $gutter;
		padding-bottom: $gutter;
		background-color: $color-grayscale-1;
	}

	.expand {
		display: inline;
	}

	.collapse {
		display: none;
	}

	&.expanded {
		.expand {
			display: none;
		}

		.collapse {
			display: inline;
		}

		.footer-columns {
			max-height: 2000px; // An absurdly large value just so we have a defined max height
		}
	}

	.footer-toggle-container {
		.small-heading {
			margin-right: #{$gutter-tiny * 2};
			margin-bottom: 0;
			line-height: 26px;
		}
	}

	.footer-toggle {
		vertical-align: middle;

		&:hover {
			text-decoration: none;
		}
	}

	.social-links {
		@include flex( row, nowrap );
		justify-content: space-between;
		flex: 1 1 100%;
		max-width: 320px;
		text-transform: uppercase;
		margin-bottom: $gutter-small;
	}

	.social-link {
		position: relative;
		height: $link-size;
		width: $link-size;
		font-size: #{ $link-size * 0.75 };
		line-height: $link-size;
		text-align: center;

		&:last-child {
			margin-right: 0;
		}

		&:before {
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: '';
			border-radius: 99em;
			background-color: $gray-light;
		}

		&:hover {
			&:before {
				background-color: $gray-dark;
			}
		}

		a {
			display: block;
			width: 100%;
			height: 100%;
			color: $color-white;

			&:hover {
				color: $color-white;
			}
		}

		.label {
			display: none;
		}

		.fa {
			position: relative;
		}

		.fa-crunchbase {
			font-size: 0.7em;
		}
	}

	.social-label {
		display: none;
		font-size: 1.6rem;
	}

	.footer-columns {
		@include flex();
		@include wpe-transition( max-height, 0.5s );
		overflow: hidden;
		max-height: 0;
	}

	.footer-column {
		margin: $gutter $gutter $gutter 0;

		&:last-child {
			margin: $gutter 0 0;
		}
	}

	.recent-posts {
		max-width: 500px;
	}

	a {
		@extend %no-link-underline;
		color: $text-color;
	}

	.menu-item {
		margin-bottom: $gutter-tiny;
	}

	.footer-column-header {
		@extend h3;
	}

	.title {
		font-weight: bold;
		margin-bottom: 0;
	}
}

.site-footer-lower {
	@extend .page-width;
	@extend %clearfix;
	@extend %layout-container-padding-large;
	padding-top: $gutter;
	padding-bottom: $gutter;
	width: 100%;
	float: none;
	font-size: 1.2rem;

	:first-child {
		padding-left: 0;
	}
}

@media (min-width: $sm) {
	$link-size: 20px;

	.site-footer {
		.footer-toggle-container {
			@include flex( row, nowrap );
			justify-content: space-between;
		}

		.social-links {
			order: 2;
			flex: 0 1 200px;
			margin-bottom: 0;
		}

		.social-label {
			display: block;
		}

		.social-link {
			height: $link-size-sm;
			width: $link-size-sm;
			line-height: $link-size-sm;
			font-size: #{ $link-size-sm * 0.75 };
		}

		.footer-column {
			margin-right: $gutter-large;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
