.promo-bar {
	color: $color-white;
	text-align: center;
	font-size: $font-size;

	.cta > * {
		@extend %page-width;
		padding: $gutter-tiny $gutter;
	}

	p {
		margin-bottom: 0;
	}

	a {
		@extend %button;
		@extend %button.white;
		@include corners( false, false, true, false, 5px );
		padding: $gutter-tiny #{$gutter-tiny *2};
		margin-left: $gutter-tiny;

		&:hover, &:focus {
			color: $color-white;
		}
	}

	.desktop {
		display: none;
	}

	&.easter-egg {
		position: relative;
		display: none;
		z-index: 110001;
		overflow: hidden;

		.cta {
			display: block;
			text-align: left;
			padding: 10px;

			p, li {
				display: block;
				line-height: 1.5;
				margin-bottom: 8px;
			}
		}

		.cover {
			position: absolute;
			width: 105%;
			height: 100%;
			top: 0;
			left: -70px;
		}

		.hero {
			position: absolute;
			left: -70px;
			bottom: $gutter-small;

			&.stuck {
				animation-name: stuck;
				animation-duration: 0.2s;
				animation-iteration-count: infinite;
			}
		}
	}

	@media (min-width: $sm) {
		.desktop {
			display: block;
		}

		.mobile {
			display: none;
		}
	}

	@media (min-width: $md) {
		.cta > * {
			padding: $gutter-tiny $gutter-large;
		}
	}
}


@keyframes stuck {
	0%  { margin-left: 0; }
	50% { margin-left: 5px; }
}
