.hero-block {
	@extend %responsive-img;
	position: relative;
	background-color: $color-pelorous;

	&.image-text, &.image-only {
		height: 350px;
	}
}

.hero-image {
	height: 100%;

	img {
		height: 100%;
		width: auto;
		margin-left: 50%;
		transform: translateX(-50%);
	}
}

.hero-text {
	z-index: 10;
	width: 100%;
	padding: 0 $gutter-small;
	color: $color-white;

	.image-text & {
		@extend %vertical-align;
		left: 0;
	}

	.text-only & {
		margin-top: $gutter;
		margin-bottom: $gutter;
	}

	h2, p {
		font: 400 1.6rem/1.25 $opensans;
		color: $color-white;
		max-width: 900px;
		text-transform: initial;
		margin-bottom: 0;
	}

	a {
		@extend %link-underline;
		color: $color-white;

		&:hover, &:focus {
			color: $color-white;
		}
	}

	.entry-title {
		font: 3.2rem/0.9 $din-bold;
		font-size: 8.5vw;
		color: $color-white;
		text-transform: uppercase;
	}

	.button {
		margin-top: $gutter-small;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}

@media (min-width: $sm) {
	.hero-block {
		&.image-text, &.image-only {
			height: auto;
		}
	}

	.hero-image {
		height: auto;

		img {
			height: auto;
		}
	}

	.hero-text {
		padding: 0 $gutter;

		h2, p {
			font-size: 2rem;
		}

		.entry-title {
			font-size: 6.2rem;
			font-size: 8vw;
		}
	}
}

@media (min-width: $md) {
	.hero-text {
		padding: 0 $gutter-large;

		.entry-title {
			font-size: 6.5vw;
		}
	}
}

@media (min-width: $lg) {
	.hero-text {

		h2, p {
			font-size: 2.4rem;
		}

		.entry-title {
			font-size: 8.1rem;
		}
	}
}
