.widget {
	@extend %gray-1-box;

	li {
		margin-bottom: $gutter-small;
	}

	input:not([type="submit"]), textarea {
		background-color: $color-white;

		&:focus {
			background-color: $color-white;
		}
	}

	[type="submit"] {
		font-size: $font-size;
	}

	a {
		@extend %link-underline;
		color: $brand-primary;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.widget-quick-tips {
	.tip {
		margin-bottom: $gutter;

		&:last-child {
			margin-bottom: 0;
		}
	}

	h3 {
		color: $brand-success;

		&:before {
			@extend %fontawesome;
			content: '\f0eb';
			margin-right: $gutter-tiny;
		}
	}
}

.widget-tagged-posts {
	h3 {
		font-family: $din-regular;
		margin-bottom: $gutter-tiny;
	}

	ul {
		margin-bottom: $gutter;

		&:last-child {
			margin-bottom: 0;
		}
	}

	li {
		margin-bottom: 10px;
		list-style-type: square;

		a {
			@extend %no-link-underline;
		}
	}
}

.widget-social-share {
	.widgettitle {
		display: none;
	}

	.label {
		display: inline-block;
		font: $font-size/1 $din-bold;
		text-transform: uppercase;
		margin: 0 $gutter-tiny 0 0;
	}

	.social-icon {
		display: inline-block;
		margin-left: $gutter-tiny;
		color: $color-white;
		height: 20px;
		width: 20px;
		line-height: 20px;
		text-align: center;
		font-size: 12px;

		&.facebook {
			background-color: $color-facebook;
		}

		&.linkedin {
			background-color: $color-linkedin;
		}

		&.twitter {
			background-color: $color-twitter;
		}

		&.google_plus {
			background-color: $color-google-plus;
		}
	}
}

.widget.widget-tags-list {
	li {
		margin-bottom: 0;
	}
}
