// Layout classes

.layout-container-padding {
	@extend %layout-container-padding;
}

.layout-container-padding-large {
	@extend %layout-container-padding-large;
}

.layout-item-padding {
	@extend %layout-item-padding;
}

// Set helper classes for margins and paddings
$gutters: (
	"tiny": $gutter-tiny,
	"small": $gutter-small,
	"standard": $gutter,
	"large": $gutter-large,
	"none": 0
	);

@each $label, $size in $gutters {
	.margin-#{$label} {
		margin: $size;
	}

	.margin-top-#{$label} {
		margin-top: $size;
	}

	.margin-bottom-#{$label} {
		margin-bottom: $size;
	}

	.margin-left-#{$label} {
		margin-left: $size;
	}

	.margin-right-#{$label} {
		margin-right: $size;
	}

	.padding-#{$label} {
		padding: $size;
	}

	.padding-top-#{$label} {
		padding-top: $size;
	}

	.padding-bottom-#{$label} {
		padding-bottom: $size;
	}

	.padding-left-#{$label} {
		padding-left: $size;
	}

	.padding-right-#{$label} {
		padding-right: $size;
	}
}

// Remove border from current element or from
// child td and li elements
.border-none {
	border: 0;

	td, li {
		border: 0;
	}
}

/***************
 * Font Styles *
 ***************/

$font-families: (
	"opensans" : $opensans,
	"din-regular" : $din-regular,
	"din-bold" : $din-bold
	);

@each $label, $family in $font-families {
	.#{$label} {
		font-family: #{$family};
	}
}

$colors: (
	"orange": $brand-primary,
	"yellow": $color-saffron,
	"white": $color-white,
	"teal": $color-pelorous,
	"green": $color-deyork,
	"navy": $color-gable,
	"hit-gray": $color-grayscale-5,
	);

@each $label, $color in $colors {
	.#{$label} {
		color: #{$color};
	}
}

$backgrounds: (
	"pelorous": $color-pelorous,
	"gable": $color-gable,
	"bluescale-3": $color-bluescale-3,
	"gray-1": $color-grayscale-1,
	"gray-2": $color-grayscale-2,
	);

@each $label, $color in $backgrounds {
	.background-#{$label} {
		background-color: #{$color};
	}
}

.required {
	color: #{$color-error};
}

.em, .italic {
	font-style: italic;
}

.strong, .bold {
	font-weight: bold;
}

.smaller {
	font-size: 0.85em;
}

.bigger, .larger {
	font-size: 1.25em;
}

.icon-30 {
	font-size: 3rem;
	vertical-align: middle;
}

.icon-45 {
	font-size: 4.5rem;
	vertical-align: middle;
}

.uppercase, .caption {
	text-transform: uppercase;
}

.callout {
	font: 3.6rem/1 $din-bold;
	margin-bottom: 10px;
}

a.link-underline {
	text-decoration: underline;

	&:hover, &:active, &:focus {
		text-decoration: none;
	}
}

.small-heading {
	font: 1.4rem/1 $din-bold;
	color: $heading-color;
	text-transform: uppercase;

	a {
		color: $heading-color;

		&:hover {
			color: $gray-light;
		}
	}
}

.shown-xs {
	@extend .hidden-sm;
	@extend .hidden-md;
	@extend .hidden-lg;
}

.img-corners {
	img {
		@include corners();
	}
}

/**
 * Something that's hidden from humans
 * like a form captcha
 */
.nohuman {
	position: absolute;
	display: none;
	visibility: hidden;
	left: -9999em;
}
