
/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* ## Site Containers
--------------------------------------------- */

.site-container {
	background-color: $color-white;
}

.site-inner {
	clear: both;
	word-wrap: break-word;
	padding-bottom: $gutter;
}

// Layout: content-sidebar
// content-sidebar-wrap children always use bootstrap classes
// so we need to treat it like a row with a narrower width
body.content-sidebar {
	.content-sidebar-wrap {
		@extend %layout-content-sidebar;
	}
}

// Layout: full-width-content
// All content should fit in page-width
body.full-width-content {
	.content-sidebar-wrap {
		@extend %page-width;
	}
}

body.hidden-entry {
	.entry {
		display: none;
	}
}

%content-width {
	@extend %page-width;

	@media (min-width: $sm) {
		padding-left: $gutter;
		padding-right: $gutter;
	}

	@media (min-width: $md) {
		padding-left: $gutter-large;
		padding-right: $gutter-large;
	}
}
