/* ==========================================================================
 * Colors
 * ========================================================================== */
// WP Engine primary colors
$color-pelorous: #40BAC8;
$color-gable: #162A33;

// WP Engine secondary colors
$color-flamingo: #EB6126;
$color-saffron: #F6C443;
$color-deyork: #72C5A1;
$color-chateau: #A0A3A5;
$color-quill: #D8DAD6;

// WP Engine tertiary colors
$color-copperfield: #DE8073;
$color-venus: #9E859E;
$color-montecarlo: #8CD6D3;
$color-steel: #4A82BA;
$color-celery: #ABC261;
$color-rollingstone: #738085;
$color-riverbed: #5C6467;

// Text colors
$color-thunder: #4A4D4E;
$color-baltic-sea: #3A3C3D;

// Grayscale
$color-grayscale-1: #F1F1F1;
$color-grayscale-2: #E8E8E8;
$color-grayscale-3: #E3E3E3;
$color-grayscale-4: #DCDCDC;
$color-grayscale-5: #D3D3D3;

// Bluescale
$color-bluescale-1: #EBEEF1;
$color-bluescale-2: #E2E8ED;
$color-bluescale-3: #D8E1E8;
$color-bluescale-4: #D0DBE5;
$color-bluescale-5: #C5D4E0;

// Misc colors
$color-error: #C72525;
$color-white: #FFFFFF;
$color-black: #000000;
$color-transparent: transparent;
$color-facebook: #3C5A99;
$color-twitter: #54ABED;
$color-linkedin: #1177B4;
$color-google-plus: #DB4C3F;

// Bootstrap grayscale
$gray-dark:       #686868;
$gray:            #55595C;
$gray-light:      #818A91;
$gray-lightish:   #D7D7D7;
$gray-lighter:    #ECEEEF;
$gray-lightest:   #F7F7F9;

// Brand assignments
$brand-primary:   $color-flamingo;
$brand-dark:      darken( $brand-primary, 6% );
$brand-light:     lighten( $brand-primary, 7% );
$brand-lighter:   lighten( $brand-primary, 30% );
$brand-success:   $color-celery;
$brand-info:      $color-montecarlo;
$brand-warning:   $color-saffron;
$brand-danger:    $color-error;
$brand-default:   $color-gable;


/* ==========================================================================
 * Scaffolding
 * ========================================================================== */
$body-bg               : $color-white;
$text-color            : $color-thunder;
$heading-color         : $color-baltic-sea;
$link-color            : $brand-primary;
$link-hover-color      : $brand-primary;
$link-color-decoration : none;


/* ==========================================================================
 * Paths
 * ========================================================================== */
$imagepath: '../images';
$fontpath: '../font';

/* ==========================================================================
 * Structure
 * ========================================================================== */

// Page widths
$page-width: 1300px;

// Breakpoints
$xs: 480px;
$sm: 768px;
$md: 940px;
$lg: $page-width;

// Gutters
$gutter: 40px;
$gutter-small: $gutter / 2;
$gutter-large: $gutter * 2;
$gutter-tiny: 5px;
$gutter-bootstrap: 15px;

/* ==========================================================================
 * Typography
 * ========================================================================== */
$font-size: 1.6rem;
$font-size-smaller: $font-size * 0.875;

$opensans : 'Open Sans', sans-serif;
$din-regular: 'DIN Next W01 Regular', 'Open Sans', sans-serif;
$din-bold : 'DIN Next W01 Bold', 'Open Sans', sans-serif;

/* Style Variables */
$shadow : 1px 1px rgba(35,35,35,0.5);
$shadow-strong : 2px 1px rgba(35,35,35,0.5);
