/**
 * Mixins for other SASS files
 *
 */

@mixin no-positioning {
	position: relative;
	top: 0;
	left: 0;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

%no-positioning {
	@include no-positioning;
}

@mixin vertical-align {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

%vertical-align {
	@include vertical-align;
}

@mixin vertical-horizontal-align {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

%vertical-horizontal-align {
	@include vertical-horizontal-align;
}

@mixin horizontal-align {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

%horizontal-align {
	@include horizontal-align;
}

@mixin ctaOrangeLG2 {
	display: block;
	margin: 0px Auto;
	max-width: 299px;
	width: 30%;
	height: 60px;
	border: 2px solid #eb6126;
	border-radius: 3px;
	font-family: 'DIN Next W01 Light', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	margin-top: 30px;
	color: #eb6126;
	padding: 16px 20px 15px; // added padding 20px 20px 15px from style guide: replaced 20px 0
	&:hover{
		background-color: #eb6126;
		color: $white;
	}
}

%ctaOrangeLG2 {
	@include ctaOrangeLG2;
}

@mixin corner_right($fill) {
	background-image: url('data:image/svg+xml;utf8,<svg fill="#{$fill}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="enable-background:new 0 0 102.3 102.3;" xml:space="preserve"><polyline class="st0" points="0,0 102.3,0 102.3,102.3 "/></svg>');
}

@mixin radio-b($x, $y) {
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%, rgba(250,253,254,0) 1%, rgba(5,149,227,0) 46%, rgba(0,147,226,0.07) 47%, rgba(0,147,226,1) 60%, rgba(0,147,226,1) 99%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0)), color-stop(1%,rgba(250,253,254,0)), color-stop(46%,rgba(5,149,227,0)), color-stop(47%,rgba(0,147,226,0.07)), color-stop(60%,rgba(0,147,226,1)), color-stop(99%,rgba(0,147,226,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%,rgba(250,253,254,0) 1%,rgba(5,149,227,0) 46%,rgba(0,147,226,0.07) 47%,rgba(0,147,226,1) 60%,rgba(0,147,226,1) 99%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%,rgba(250,253,254,0) 1%,rgba(5,149,227,0) 46%,rgba(0,147,226,0.07) 47%,rgba(0,147,226,1) 60%,rgba(0,147,226,1) 99%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%,rgba(250,253,254,0) 1%,rgba(5,149,227,0) 46%,rgba(0,147,226,0.07) 47%,rgba(0,147,226,1) 60%,rgba(0,147,226,1) 99%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(255,255,255,0) 0%,rgba(250,253,254,0) 1%,rgba(5,149,227,0) 46%,rgba(0,147,226,0.07) 47%,rgba(0,147,226,1) 60%,rgba(0,147,226,1) 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#0093e2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  width: 26px;
  height: 26px;
  position: relative;
  top: $y;
  left: $x;
  border-radius: 50%;
}

@mixin filter_and_transition($percentage, $time) {
  -webkit-filter: grayscale($percentage);
  -moz-filter: grayscale($percentage);
  -o-filter: grayscale($percentage);
  -ms-filter: grayscale($percentage);
  transition: $time;
  -webkit-transition: $time;
  -moz-transition: $time;
  -o-transition: $time;
  -ms-transition: $time;
}

@mixin simple-transition {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

%simple-transition {
	@include simple-transition;
}

@mixin no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

%no-transition {
	@include no-transition;
}

@mixin fontawesome {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
}

%fontawesome {
	@include fontawesome;
}

@mixin font-color( $color ) {
	color: $color;

	p, li, td, h1, h2, h3, h4, h5, h6, a, span, strong, em {
		color: $color;
	}
}

%font-color-white {
	@include font-color( $white );
}

%font-color {
	@include font-color( $font_color );
}

@mixin backgroundColor( $label, $color, $font-color: "" ) {
	.background-#{$label} {
		background-color: $color;
		@if "" != $font-color {
			@extend #{$font-color};
		}
	}
}

@mixin qbert-pattern( $opacity ) {
	&:after {
		content: "";
		background: url(#{$imagepath}/pattern-qbert.png) repeat;
		opacity: $opacity;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
	}
}

%text-shadow {
	text-shadow: $shadow;
}

%hero-text-shadow {
	text-shadow: $shadow-strong;
}

%input-error {
	border: thin solid $carmine-pink;
	background-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MCA1MCI+PHBhdGggc3R5bGU9ImZpbGw6I2VlNTM1MDsiIGQ9Ik01MCwyNUEyNSwyNSwwLDEsMSwyNSwwLDI1LDI1LDAsMCwxLDUwLDI1Wk0yMy41NiwzNS4zMWgyLjgyTDI4LjU1LDQuNjJoLTcuMVpNMjIuMjEsNDUuMzhoNS42NVYzOS41N0gyMi4yMXY1LjgxWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwKSIvPjwvc3ZnPg==');
	background-size: 18px;
	padding-right: 24px;
	background-repeat: no-repeat;
	padding-right: 24px;
}
