body.blog {
	.content-sidebar-wrap {
		@extend %layout-content-sidebar;
	}

	.content {
		@include flex();
	}

	.entry {
		@extend %gray-1-box;
		@include flex( column, nowrap );
		width: auto;
		flex: 1 1 100%;
	}

	.entry-header {
		flex: 1 1 auto;
		padding: 0;
	}

	.entry-thumbnail {
		@include corners();
		margin-bottom: $gutter-small;

		img {
			@include corners();
			width: 100%;
			height: auto;
		}
	}

	.entry-title {
		font-size: 2rem;
		line-height: 1;
		margin-bottom: $gutter-small;
	}

	.entry-content {
		flex: 1 1 auto;
		margin-bottom: $gutter-small;
		padding: 0;
	}

	.entry-footer {
		flex: 0 0 24px;
	}

	.subscribe-form {
		color: $color-white;
		margin-bottom: $gutter;

		.wrap {
			@extend %content-width;
			@include corners();
			padding: $gutter;
			background-color: $color-pelorous;
		}

		h2 {
			color: $color-white;
		}

		.form-group {
			@include flex( row, nowrap );
			max-width: 500px;
			justify-content: space-between;
			align-items: center;

			> * {
				height: 53px;
			}
		}

		[type="email"] {
			@include corners( false, false, false, false );
			background-color: $color-white;
		}

		[type="submit"] {
			@include corners();
			display: inline-block;
			background-color: $color-white;
			color: $brand-primary;
			margin-left: -2px;

			&:hover, &:focus, &:active, &.active {
				background-color: $brand-primary;
				color: $color-white;
			}
		}
	}

	.blog-post-loop {
		@extend %clearfix;
		margin-bottom: $gutter;

		.wrap {
			@extend %content-width;
			@include flex();
			justify-content: space-between;
			padding: 0 $gutter-small;
		}

		.entry {
			flex: 1 1 280px;
			min-width: 280px;
			margin: 0 #{$gutter-tiny / 2} $gutter-tiny;
		}

		.entry-thumbnail {
			@extend %responsive-thumbnail;
		}
	}

	.sidebar {
		display: none;
	}

	&.paged {
		.content-sidebar-wrap {
			display: none;
		}
	}

	@media (min-width: $sm) {
		.content-sidebar-wrap {
			padding: 0 $gutter-small;

			.entry {
				&:nth-child(n + 2) {
					margin-bottom: 0;
					width: 40%;
					flex-basis: 40%;
				}
			}
		}

		.content {
			padding-left: 0;
			padding-right: $gutter;
		}

		.sidebar {
			display: block;
		}
	}

	@media (min-width: $md) {
		.content-sidebar-wrap {
			padding: 0 $gutter;

			.entry {
				flex-basis: 100%;
			}
		}

		.subscribe-form {
			padding: 0 $gutter;

			.wrap {
				padding: $gutter $gutter-large;
			}
		}

		.blog-post-loop {
			.wrap {
				padding: 0 $gutter;
			}
		}
	}
}
