

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/style.css">
    <title>Preview Layout</title>
</head>
<body>

	<div class="block icon-above text-left   ">
	<a href="/our-difference/#technology" class="wrap">
		<div class="icon-container ">
			<img src="http://placehold.it/200x150">
		</div>
		
		<h3>Technology</h3>
		<p>Our best-in-class architecture and highly redundant systems keep WordPress fast, scalable, and secure.</p>

		<div class="cta"><button>Learn More</button></div>
	</a>
</div>

</body>
</html>
