

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/style.css">
    <title>Preview Layout</title>
</head>
<body>

	<div class="block no-corners icon-above text-left icon-size-x-small">
	<a href="/our-difference/#technology" class="wrap">
		<div class="icon-container">
			<img class="wpe-icon" src="/img/svg-icons/atom.svg" alt="Image Alt Text" />
		</div>
		<h3>Technology</h3>
		<p>Our best-in-class architecture and highly redundant systems keep WordPress fast, scalable, and secure.</p>
		<div class="cta"><button>Default Button</button></div>
	</a>
</div>

</body>
</html>
