

<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/style.css">
    <title>Preview Layout</title>
</head>
<body>

	<div class="block icon-above text-left icon-size-x-small">
	<div class="wrap">
		<div class="icon-container">
			<img src="https://placeholdit.imgix.net/~text?txtsize&#x3D;16&amp;txt&#x3D;40&amp;w&#x3D;40&amp;h&#x3D;40" alt="Image Alt Text" />
		</div>
		<h3>Reliable help</h3>
		<p>24/7 technical support from leading WordPress experts.</p>
	</div>
</div>

</body>
</html>
